<div class=" center">
    Please login to access ToDo App.
</div>

<form action="">
    <div class="container signup-form ">
        <div>
            <!--<i class="fa fa-5x fa-user-circle" aria-hidden="true"></i>-->
        </div>
        <label><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required>

        <label><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>

        <button type="submit">Login</button>
        <input type="checkbox" checked="checked"> Remember me
        <div class="container signup-form">
            <!--<button type="button" class="cancelbtn" [routerLink]="['/signup']">Signup</button>-->
            <span class="psw-left"> <a [routerLink]="['/signup']">Signup</a></span>
            <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
    </div>


</form>