<div *ngIf="loading" id="loader" class="loader center-loader"></div>

<div *ngIf="!loading" class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Password</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{user.name | customCase}}</td>
                <td>{{user.email}}</td>
                <td>{{user.password}}</td>
            </tr>

        </tbody>
    </table>
</div>